<div class="container">
    <div class="col-md-8 one-col">
        <div class="row btnrow">
            <button 
                class="btn btn-secondary float-right" 
                (click)="onBack()">
                <i class="fa fa-chevron-left"></i>
                Back
            </button>
        </div>
        <div class="row row1 page-top-label">
            <h4><span class="symptoms">COVID-19 CORONAVIRUS</span>/ SYMPTOMS</h4>
        </div>
        <div class="row row1 page-date-label">
            <h4>Last updated:</h4><span class="currentdate">20/5/2020</span>
        </div>
        <div class="content-inner">
            <div class="row symptoms-heading">
                <h1>Coronavirus Symptoms (COVID-19)</h1>
            </div>
            <div class="row">
                <span class="UpdateDate">Last updated: April 24, 2:00 GMT - We will continue to update and improve this
                    page as we gather new information and details.</span>
            </div>
            <div class="row">
                <p class="blogquots">People with COVID-19 have had a wide range of symptoms reported – ranging from mild
                    symptoms to severe illness. These symptoms may appear 2-14 days after exposure to the virus:
                </p>
                <ul class="symptoms-sym">
                    <li>Fever</li>
                    <li>Cough</li>
                    <li>Shortness of breath or difficulty breathing</li>
                    <li>Chills</li>
                    <li>Repeated shaking with chills</li>
                    <li>Muscle pain</li>
                    <li>Headache</li>
                    <li>Sore throat</li>
                    <li>New loss of taste or smell</li>
                </ul>
            </div>
            <div class="row content-header">
                <h4> Content:</h4>
            </div>
            <div class="row content-item">
                <ul>
                    <li>Typical Symptoms</li>
                    <li>80% of cases are mild</li>
                    <li>Pre-existing conditions</li>
                    <li>Examples of possible development of symptoms</li>
                    <li>How long do symptoms last? (duration from onset to recovery)</li>
                    <li>Symptoms observed in hospitalized patients</li>
                    <li>Information on Coronavirus Symptoms from Government Health Officials</li>
                </ul>
            </div>
            <div class="row see-also">
                <span> see also:</span>
            </div>
            <div class="row ">
                <ul>
                    <li><a href="https://edition.cnn.com/2020/04/22/health/strokes-coronavirus-young-adults/index.html">Covid-19
                            can cause sudden strokes in young adults, doctors say</a></li>
                    <li><a href="https://www.sciencedaily.com/releases/2020/04/200413132809.htm">Loss of smell and taste
                            anecdotally linked to COVID-19 infections</a></li>
                    <li><a
                            href="https://www.iflscience.com/health-and-medicine/foot-lesions-reported-as-symptom-of-covid19-in-children-some-adults/">Foot
                            Lesions Reported As Symptom Of Covid-19 In Children, Some Adults and What are 'COVID toes'?
                            Doctors discover symptom of coronavirus mostly seen in kids</a></li>
                    <li><a
                            href="https://www.scientificamerican.com/article/heart-damage-in-covid-19-patients-puzzles-doctors/">In
                            addition to lung damage, many COVID-19 patients are also developing heart problems—and dying
                            of cardiac arrest. Up to one in five hospitalized patients have signs of heart injury</a>
                    </li>
                </ul>
            </div>
            <div class="row ty-heading">
                <h2>Typical Symptoms</h2>
            </div>
            <div class="typicle-symptoms">
                <p>COVID-19 typically causes flu-like symptoms including a fever and cough.</p>
                <p>In some patients - particularly the elderly and others with other chronic health conditions - these
                    symptoms can develop into pneumonia, with chest tightness, chest pain, and shortness of breath.</p>
                <p>It seems to <b>start with a fever, followed by a dry cough.</b></p>
                <p><b>After a week, it can lead to shortness of breath,</b> with about 20% of patients requiring
                    hospital treatment.</p>
                <p>Notably, the COVID-19 infection <b>rarely seems to cause a runny nose,</b> sneezing, or sore throat
                    (these symptoms have been observed in only about 5% of patients).<b>Sore throat, sneezing, and
                        stuffy nose are most often signs of a cold.</b></p>
            </div>
            <div class="row ty-heading">
                <h2>80% of cases are mild</h2>
            </div>
            <div class="typicle-symptoms">
                <p>Based on all 72,314 cases of COVID-19 confirmed, suspected, and asymptomatic cases in China as of
                    February 11, a paper by the Chinese CCDC released on February 17 and published in the Chinese
                    Journal of Epidemiology has found that:</p>
                <ul>
                    <li><b>80.9% of infections are mild</b> (with flu-like symptoms) and<b> can recover at home.</b>
                    </li>
                    <li>13.8% are severe, developing severe diseases including <b>pneumonia</b> and <b>shortness of
                            breath.</b></li>
                    <li><b>4.7% as critical</b> and can include: <b>respiratory failure, septic shock,</b> and
                        <b>multi-organ failure.</b></li>
                    in about 2% of reported cases the virus is fatal.
                    <li>Risk of death increases the older you are.</li>
                    <li>Relatively few cases are seen among children.</li>
                </ul>
            </div>
            <div class="row ty-heading">
                <h2>Pre-existing conditions</h2>
            </div>
            <div class="typicle-symptoms">
                <p>Pre-existing illnesses that put patients at higher risk:</p>
                <ol>
                    <li>cardiovascular disease</li>
                    <li>diabetes</li>
                    <li>chronic respiratory disease</li>
                    <li>hypertension</li>
                </ol>
                <p>That said, some otherwise healthy people do seem to develop a severe form of pneumonia after being
                    infected by the virus. The reason for this is being investigated as we try to learn more about this
                    new virus.</p>
            </div>
            <div class="row ty-heading">
                <h2>Examples of possible development of symptoms (from actual cases)</h2>
            </div>
            <div class="typicle-symptoms">
                <p>A man in his 40s in Japan:</p>
                <ul>
                    <li><b>Day #1: malaise and muscle pain</b></li>
                    <li>later diagnosed with pneumonia</li>
                </ul>
                <p>A man in his 60s in Japan:</p>
                <ul>
                    <li><b>Day #1:</b> initial symptoms of <b>low-grade fever and sore throat.</b></li>
                </ul>
                <p>A man in his 40s in Japan:</p>
                <ul>
                    <li><b>Day #1: chills, sweating and malaise</b></li>
                    <li><b>Day #4: fever, muscle pain and cough</b></li>
                </ul>
                <p>A woman in her 70s, in Japan:</p>
                <ul>
                    <li><b>Day #1: 38° fever for a few minutes</b></li>
                    <li><b>Day #2-3:</b> went on a bus tour</li>
                    <li><b>Day #5: visited a medical institution</b></li>
                    <li><b>Day #6: showed symptoms of pneumonia.</b></li>
                </ul>
                <p>A woman in her 40s, in Japan:</p>
                <ul>
                    <li><b>Day #1: low-grade fever</b></li>
                    <li>Day #2: 38° fever</li>
                    <li>Day #6: being <b>treated at home.</b></li>
                </ul>
                <p>A man in his 60s, in Japan:</p>
                <ul>
                    <li>Day #1: <b>Cold</b></li>
                    <li>Day #6: <b>Fever of 39° C.</b>(102.2 F)</li>
                    <li>Day #8: <b>Pneumonia</b></li>
                </ul>
                <p>Another patient, in China with a history of type 2 diabetes and hypertension:</p>
                <ul>
                    <li><b>Jan. 22: Fever and cough</b></li>
                    <li>Feb. 5: Died</li>
                </ul>
                <p>First death in the Philippines (a 44-year-old Chinese thought to have had other pre-existing health
                    conditions):</p>
                <ul>
                    <li>Jan. 25: <b>Fever, cough, and sore throat (hospitalized)</b></li>
                    <li>Developed <b>severe pneumonia</b></li>
                    <li>Feb. 2: Died</li>
                </ul>
            </div>
            <div class="row ty-heading">
                <h2>How long do symptoms last?</h2>
            </div>
            <div class="typicle-symptoms">
                <p>Using available preliminary data, the Report of the WHO-China Joint Mission published on Feb. 28 by
                    WHO, [5] which is based on 55,924 laboratory confirmed cases, observed the following median time
                    from symptoms onset to clinical recovery:</p>
                <ul>
                    <li><b>mild cases:</b> approximately <b>2 weeks</b></li>
                    <li><b>severe or critical</b> disease: <b>3 - 6 weeks</b></li>
                    <li>time from onset to the development of severe disease (including hypoxia): <b>1 week</b></li>
                </ul>
                <p>Among patients who have died, the time from symptom onset to outcome ranges from <b>2 - 8 weeks.</b>
                </p>
            </div>
            <div class="row ty-heading">
                <h2>Symptoms observed in hospitalized patients with COVID-19</h2>
            </div>
            <div class="typicle-symptoms">
                <p>Below we list the symptoms, with <b>percentages representing the proportion of patients displaying that
                    symptom</b>, as observed in hospitalized patients tested and identified as having laboratory-confirmed
                    COVID-19 infection. These findings refer to<b> hospitalized patients</b>, therefore generally representing
                    <b>serious</b> or critical cases. The <b>majority of cases of COVID-19 (about 80%) is mild</b>.</p>
                        <!-- <a  class="backto" (onClick)="onActivate($event)">[Back to Top]</a> -->
                </div>
                <div class="row ty-heading">
                    <h2>Information on Coronavirus Symptoms from Government Health Officials</h2>
                </div>
                <div class="halth">
                    <h4>Indian Public Health Agency</h4>
                </div>
                <p>The Indian PHAC<a href="https://www.mohfw.gov.in/"> section dedicated to the 2019 novel coronavirus</a>states that:</p>
                    <ul>
                        <li>You may have little to no symptoms.</li>
                        <li>You may not know you have symptoms of COVID-19 because they are <b>similar to a cold or flu</b>.</li>
                        <li>Symptoms may take up to 14 days to appear after exposure to the virus. This is the longest known infectious period for this virus.</li>
                    </ul>
                    <p>Symptoms have included:</p>
                    <ul>
                        <li><b>fever</b></li>
                        <li><b>cough</b></li>
                        <li><b>difficulty breathing</b></li>
                        <li><b>pneumonia in both lungs</b></li>
                    </ul>
                    <p>In severe cases, infection can lead to death.</p>
            </div>
    </div>
</div>