<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="logo">
                <ul>
                    <li><a class="navbar-brand" href="">Covid-19 Meter</a></li>
                    <li><a class="navbar-brand coronaheader" href="">Coronavirus</a></li>
                    <li><a class="navbar-brand" href="">Population</a></li>
                    <li><a class="navbar-brand" href="">NewsFeeds</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>