<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="logo">
                <ul>
                    <li><a class="navbar-brand headinglogo" href=""><h2>Covid<span class="meter1">19</span>meter</h2></a></li>
                    <li><a class="navbar-brand coronaheader" href="">Coronavirus</a></li>
                    <li><a class="navbar-brand" href="" routerLink="NewsFeeds">NewsFeeds</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>