<div class="container">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h6>India Active Cases</h6>
                    </div>
                    <div class="card-body">
                        <div class="numbr-table-main">
                            <span class="number">125421</span>
                        </div>
                        <div class="label">
                            <span>Currently Infected Patients</span>
                        </div>
                        <div class="row closed-cases-row">
                            <div class="number-mild-condition">
                                <div class="numbr-table-main">
                                    <span class="number number-mild-cases">15,558</span>
                                </div>
                                <div class="label">
                                    <span>in Mild Condition</span>
                                </div>
                            </div>
                            <div class="number-critical-condition">
                                <div class="numbr-table-main">
                                    <span class="number number-cases-serious">15,55455558</span>
                                </div>
                                <div class="label">
                                    <span>Serious or Critical</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h6>India Closed Cases</h6>
                    </div>
                    <div class="card-body">
                        <div class="numbr-table-main">
                            <span class="number">15558</span>
                        </div>
                        <div class="label">
                            <span>Cases which had an outcome</span>
                        </div>
                        <div class="row closed-cases-row">
                            <div class="number-mild-condition">
                                <div class="numbr-table-main">
                                    <span class=" number number-recovered ">15558</span>
                                </div>
                                <div class="label">
                                    <span>Recovered/Discharged</span>
                                </div>
                            </div>
                            <div class="number-critical-condition">
                                <div class="numbr-table-main">
                                    <span class="number">15,55,845</span>
                                </div>
                                <div class="label">
                                    <span>Deaths</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="router-view-country-cases">
    <app-view-countries-count></app-view-countries-count>
</div>