@import url(https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css);

.card{
  margin-top: 20px;
}
thead {
    color: #337ab7;
}

#r1{
    background-color: #95E24B !important;
}

.table{
  table-layout: fixed !important;
  width: 100% !important;  
  margin-top: 10px;
}

.container{
  margin-bottom: 30px !important;
}

.input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.head {
  text-align: center;
  font-weight: bold;
  font-size: inherit;
  margin-bottom: 5px;
}

.label {
    color: #767574;
}
