<div class="container">
    <div class="col-md-8">
        <div class="newsUpdate">
            <span>
                <h2 >Latest News</h2>
            </span>
        </div>
        <div class="Update">
            <span>
                <h4 class="Update">Coronavirus India <span class="live" >LIVE</span> Updates</h4>
            </span>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="../../../../../assets/coronavirus02.jpg" class="img-responsive  fit-image" alt="">
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                    </div>
                    <div class="news-title">
                         <a href="">New guidelines for lockdown 5.0</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- second card -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="../../../../../assets/Pune-market.jpg" class="img-responsive  fit-image" alt="">
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                    </div>
                    <div class="news-title">
                         <a href="">Coronavirus India LIVE Updates: Centre extends lockdown in containment zones till June 30</a>
                    </div>
                </div>
            </div>
        </div>        <!-- third News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="../../../../../assets/Delhi-lockdown-759-2.jpg" class="img-responsive  fit-image" alt="">
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                    </div>
                    <div class="news-title">
                         <a href="">Lockdown 5.0 may be relaxed further: States to decide on malls, restaurants</a>
                    </div>
                </div>
            </div>
        </div>        <!-- 4th News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="../../../../../assets/thakare.webp" class="img-responsive  fit-image" alt="">
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                    </div>
                    <div class="news-title">
                        <a href="">
                            Maharashtra Says No To Passenger Flights, May Extend Lockdown</a>
                    </div>
                </div>
            </div>
        </div>        <!-- 5th News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 ">
                    <img src="../../../../../assets/download.jpg" class="img-responsive  fit-image" alt="">
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                    </div>
                    <div class="news-title">
                         <a href="">It is becoming clear that university exams cannot be held in July: Maharashtra CM</a>
                    </div>
                </div>
            </div>
        </div>
                <!-- 6th News -->
                <div class="card">
                    <div class="row">
                        <div class="col-md-4 ">
                            <img src="../../../../../assets/lockdown.jpg" class="img-responsive  fit-image" alt="">
                        </div>
                        <div class="col-md-8 ">
                            <div class=" row date-day">
                                <span><b>Sunday</b></span>,
                                <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                            </div>
                            <div class="news-title">
                                 <a href="">Hurrying back home to skip COVID-19 fury, migrant workers in Bihar stare at uncertain future</a>
                            </div>
                        </div>
                    </div>
                </div>
                        <!-- 7th -->
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <img src="../../../../../assets/thakare1.jpg" class="img-responsive  fit-image" alt="">
                                </div>
                                <div class="col-md-8 ">
                                    <div class=" row date-day">
                                        <span><b>Sunday</b></span>,
                                        <span>{{currentDate | date:'yyyy-MM-dd'}}</span>
                                    </div>
                                    <div class="news-title">
                                         <a href="">Maharashtra CM's not in favour of lifting lockdown; some easing likely</a>
                                    </div>
                                </div>
                            </div>
                        </div>