<div class="container">
    <div class="col-md-8">
        <div class="newsUpdate">
            <span>
                <h2 >Latest News</h2>
            </span>
        </div>
        <div class="Update">
            <span>
                <h4 class="Update">Update</h4>
            </span>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events.
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- second card -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- third News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 4th News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 5th News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 6th News -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 7th -->
        <div class="card">
            <div class="row">
                <div class="col-md-4 news-video">
                    <div class="row video-row">
                        <iframe  width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                    </div>
                </div>
                <div class="col-md-8 ">
                    <div class=" row date-day">
                        <span><b>Sunday</b></span>,
                        <span>22/5/2020</span>
                    </div>
                    <div class="news-title">
                        <h3> News Title</h3>
                    </div>
                    <div class="news-description">
                        <span>
                            News is information about current events. 
                            This may be provided through many different media: word of mouth, 
                            printing, postal systems, broadcasting, electronic communication, 
                            or through the testimony of observers and witnesses to events
                        </span>
                        <span class="ReadMore"><a href="">Read More</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>