<div class="container">
    <div class="col-md-8">
        <div class="row page-top-label">
            <h4>COVID-19 CORONAVIRUS PANDEMIC</h4>
        </div>
        <div class="row page-date-label">
            <h4>Last updated:</h4>
        </div>
        <div class="row horizontal-link">
            <ul id="menu">
                <li> <a routerLink="covidgraph">Graphs</a></li>-
                <li> <a href="">Countries</a></li>-
                <li> <a href="">Death Rate</a></li>-
                <li><a href="">Symptoms</a></li>-
                <li><a href="">Incubation</a></li>-
                <li><a href="">Transmission</a></li>-
                <li><a href="">News</a></li>

            </ul>
        </div>
        <div class="main-counter-deaths">
            <h1 class="row main-counter">Coronavirus Cases:</h1>
            <div class="row main-counter-number">
                <span class="totalcases" >{{confirmedCases | addComma}}</span>
            </div>
        </div>
        <div class="row view-by-country">
            <a href="">View-by-country</a>
        </div>
        <div class="main-counter-deaths">
            <h1 class="main-counter">Deaths:</h1>
            <span class="main-counter-number deaths">{{totaldeath | addComma}}</span>
        </div>

        <div class="main-counter-deaths">
            <h1 class="row main-counter">Recovered:</h1>
            <span class="row main-counter-number recovered">{{totalRecovered | addComma}}</span>
        </div>
    </div>
</div>